<app-main-nav>
  <h1>Manage Students</h1>
  <mat-expansion-panel #expdPanel>
    <mat-expansion-panel-header>
      <mat-card-title>Student Details Form</mat-card-title>
    </mat-expansion-panel-header>
    <mat-card-content>
      <div class="container">
        <mat-form-field>
          <input matInput placeholder="Name" ngDefaultControl [(ngModel)]="selectedStudent.name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" ngDefaultControl [(ngModel)]="selectedStudent.email">
        </mat-form-field>

        <mat-form-field style="width: 250px">
          <input matInput [max]="maxDate" [matDatepicker]="picker" placeholder="Date of Birth" ngDefaultControl [(ngModel)]="selectedStudent.dob"
                 (dateInput)="addEvent($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field style="width: 250px">
          <mat-select placeholder="Gender" ngDefaultControl [(ngModel)]="selectedStudent.gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Mobile" ngDefaultControl [(ngModel)]="selectedStudent.mobile">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Batch" ngDefaultControl [(ngModel)]="selectedStudent.batchDTO">
            <mat-option *ngFor="let batch of batches" [value]="batch">{{batch.batchNo}} - {{batch.name}} ({{batch.branch}})</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

    </mat-card-content>
    <mat-card-actions>
      <div id="actionButtons">
        <button (click)="clear()" mat-stroked-button >Clear</button>
        <button (click)="deleteStudent()" mat-raised-button color="warn">Delete</button>
        <button (click)="updateStudent()" mat-raised-button style="background-color: darkorange">Update</button>
        <button (click)="saveStudent()" mat-raised-button color="primary">Save</button>
      </div>
    </mat-card-actions>
  </mat-expansion-panel>
  <br>
  <mat-divider></mat-divider>
  <br>

  <table class="table table-bordered table-hover mat-elevation-z8">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Date of Birth</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Batch</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students | paginate: { itemsPerPage: 7, currentPage: p }"
        (click)="selectStudent(student)" [class.selected]="student==selectedStudent">
      <td>{{student.studentId}}</td>
      <td>{{student.name}}</td>
      <td>{{student.gender}}</td>
      <td>{{student.dob}}</td>
      <td>{{student.email}}</td>
      <td>{{student.mobile}}</td>
      <td>{{student.batchDTO.name}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="7">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </td>
    </tr>
    </tfoot>
  </table>
</app-main-nav>
