.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

/*.sidenav .mat-toolbar {*/
  /*background: inherit;*/
/*}*/

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#title {
  font-family: "Arial";
  color: #f2f2f2;
}

#content_div {
  width: 90%;
  margin: 20px auto;
}

.spacer {
  flex: 1 1 auto;
}
