<app-main-nav>
  <h1>Manage Batches</h1>
  <mat-expansion-panel [expanded]="isBatchSelected">
    <mat-expansion-panel-header>
      <mat-card-title>Batch Details Form</mat-card-title>
    </mat-expansion-panel-header>
    <mat-card-content>
      <div class="container">
        <mat-form-field>
          <input [disabled]="isBatchSelected" matInput placeholder="Batch No" [(ngModel)]="selectedBatch.batchNo" type="number" >
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="selectedBatch.name" >
        </mat-form-field>

        <mat-form-field style="width: 250px">
          <mat-select placeholder="Branch" [(ngModel)]="selectedBatch.branch" >
            <mat-option value="Panadura">Panadura</mat-option>
            <mat-option value="Galle">Galle</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <div id="actionButtons">
        <button [disabled]="!isBatchSelected" (click)="clear()" mat-stroked-button >Clear</button>
        <button [disabled]="!isBatchSelected" mat-raised-button style="background-color: darkorange" (click)="updateBatch()">Update</button>
        <button [disabled]="isBatchSelected" mat-raised-button color="primary" (click)="saveBatch()">Save</button>
      </div>
    </mat-card-actions>
  </mat-expansion-panel>
  <br>
  <mat-divider></mat-divider>
  <br>

  <table class="table table-bordered table-hover mat-elevation-z8">
    <thead>
    <tr>
      <th>Batch No</th>
      <th>Name</th>
      <th>Branch</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let batch of batches | paginate: { itemsPerPage: 7, currentPage: p }"
        (click)="selectBatch(batch)" [class.selected]="batch==selectedBatch">
      <td>{{batch.batchNo}}</td>
      <td>{{batch.name}}</td>
      <td>{{batch.branch}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </td>
    </tr>
    </tfoot>
  </table>

</app-main-nav>
